<div class="footer">
    <div class="container">
        <div class="top-footer-links">
            <a href="#">help</a>
            <a href="#">legal</a>
            <a href="#">privacy policy</a>

            <b><a href="#">contact us</a></b>
            <b><a href="#">feedback</a></b>

        </div>
        <div class="copyright">All content and design © 2016 TakeOut</div>
    </div>
</div>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>