<div class="container mainBody">
    <div class="container">
        <h3 small>{{itemdetails.item.name}}</h3>
        <div class="postedBy">Posted <i>by</i> {{itemdetails.getUserById(itemdetails.item.owner).profile.firstName}}</div>
        <br/>
        <div class="row">
            <div class="col-md-7">
                <div class="itemDetail">
                    <div class="itemDetailRow"><strong>Description:</strong> {{itemdetails.item.description}}</div>
                    <div class="itemDetailRow"><strong>Posted:</strong> {{itemdetails.item.postedDate | amCalendar}}</div>
                    <div class="itemDetailRow" ng-switch on="{{itemdetails.isExpired(itemdetails.item).toString()}}">
                        <div ng-switch-when="false">
                            <strong>Pick up dates:</strong> {{itemdetails.item.pickup.fromDate | amDateFormat:'MMM Do,YYYY'}}
                            to {{itemdetails.item.pickup.toDate | amDateFormat:'MMM Do,YYYY'}}
                            <br/>
                            <strong>Timing:</strong> {{itemdetails.item.pickup.fromDate | amDateFormat:'hh:mm a'}} to {{itemdetails.item.pickup.toDate
                            | amDateFormat:'hh:mm a'}}
                        </div>
                        <div ng-switch-default>
                            <strong>Expired</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="itemDetailimageContainer">
                    <div ng-style="{{itemdetails.getMainImage(itemdetails.item.images)}}" class="imageListThumbnail"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div ng-show="itemdetails.item.threads != null">
                        <div ng-show="itemdetails.item.owner == currentUser._id">
                            <div class="row">
                                <div class="col-md-2">Requests</div>
                                <div class="col-md-8">
                                    <select class="form-control" ng-model="itemdetails.user">
                                        <option ng-repeat="thread in itemdetails.getAllThreads" value="{{thread.user}}">{{itemdetails.getUserById(thread.user).profile.firstName}} {{thread.readByOwner}}</option>
                                    </select>
                                </div>
                            </div>
                            <br/>
                        </div>
                        <div class="row">
                            <div class="col-md-1 col-md-offset-11">
                                <div class="form-group">
                                    <button id="markAsReadButton" type="button" class="btn" ng-click="itemdetails.markAsRead(itemdetails.item)" uib-tooltip="Mark as read"><i class="glyphicon glyphicon-ok-sign"></i></button>
                                </div>
                            </div>
                        </div>
                        <div ng-repeat="messageObject in itemdetails.thread.messages">
                            <div class="row">
                                <div ng-class="messageObject.author == currentUser._id ? 'myMessage col-md-8' : 'theirMessage col-md-8 col-md-offset-4'">
                                    {{messageObject.message}}
                                    <br/>
                                    <div class="messageMeta">{{messageObject.author == currentUser._id ? 'Me' : 'Them'}} | {{messageObject.timestamp
                                        | amDateFormat:'MMM Do,YYYY, hh:mm:ss a'}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="itemdetails.item.threads == null">
                        No conversation here
                    </div>
                    <div ng-show="itemdetails.user != itemdetails.item.owner">
                        <form class="form-horizontal" id="addMessage" name="addMessageToThread">
                            <div class="row">
                                <label for="message" class="control-label">Your Message</label>
                            </div>
                            <div clas="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="message" placeholder="Item Name " required ng-model="itemdetails.msgToAdd.message">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button id="addMessageSubmitButton" type="submit" class="btn" ng-click="itemdetails.addToThread(itemdetails.item)" ng-disabled="addMessageToThread.$invalid">Send</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>