<div class="container mainBody">
    <div class="container">
        <h2>Items</h2>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th class="col-md-1"></th>
                    <th class="col-md-2">Name</th>
                    <th class="col-md-3">Picture</th>
                    <th class="col-md-4">Description</th>
                    <th class="col-md-2">Pickup Time</th>
                    <th class="col-md-1">Owner</th>
                </tr>
            </thead>
            <tbody id="items">
                <tr ng-repeat="item in itemslist.items">
                    <td><button class="btn" ng-click="itemslist.removeItem(item)">X</button></td>
                    <td><a ui-sref="itemDetails({ itemId: item._id })">{{item.name}}</a></td>
                    <td>
                            <div ng-if="item.images && item.images.length > 0" ng-style="itemslist.getMainImage(item.images)" class="imageListThumbnail">
                            </div>
                            
                    </td>
                    <td>{{item.description}}</td>
                    <td>{{item.pickup.fromDate | amDateFormat:'dddd, MMMM Do YYYY'}} to
                        {{item.pickup.date.toDate | amDateFormat:'dddd, MMMM Do YYYY'}}</td>
                    <td>{{itemslist.getUserById(item.owner).profile.firstName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>